.demo_container {
    position: relative;
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    margin-bottom: 50px;

  }


  
  .demo_image_nodisplay{
    display: none;

  }

  .hidden_image_style{
    width: 560px;
    height: 320px;
  }

  div{
    display: block;
  }
  
  .card {
    
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169,188,218,.65);
  }

  .card span {
    display: flex;
  }

  .card p{
    font-weight: 400;
  }
 .demo_heading_style {
    display: flex;
    align-items: center;
    padding: 0 0 10px;
    margin: 0;
    list-style-position: outside;
}
.demo_heading_style svg{
    fill: none;
    width: 40px;
    height: 40px;
}
.demo_heading_style div {
    padding-left: 8px;
    font-size: 20px;
    font-weight: 600;
}
.demo_para_style {
    padding-bottom: 5px;
    padding-left: 8px;
    margin: 0;
}
.demo_heading_style {
    display: flex;
    align-items: center;
    padding: 0 0 10px;
    margin: 0;
    list-style-position: outside;
}

 .demo_image_container{
  display: flex;
  align-items: center;
  justify-content: center;

 }
  
  .top-left {
    margin-bottom: 120px;
    
  }
  
  .top-right {
    margin-bottom: 120px;
    
  }
  
 
  
  .centered-image {
    width: 560px;
    height: 320px;
  }
  .left_card_arrow{
    top: 129px;
    left: 315px;

  }
  .left_card_position{
    position: absolute;

  }
  .bottom_left_card_arrow{
    bottom: 142px;
    left: 315px;
}
  

  .bottom_left_card_position{
    position: absolute;

  }
  .top_right_card_arrow{
    top: 129px;
    right: 300px;
  }

  .top_right_card_position{
    position: absolute;

  }
  .bottom_right_card_arrow{
    right: 300px;
    bottom: 142px;
  }

  .bottom_right_card_position{
    position: absolute;

  }
 
  @media (max-width: 768px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;

    }
    .demo_container{
      width: 100%;
      flex-direction: column;
      margin-left: 0%;
      margin-right: 0%;
    }
    .demo_side_margin{
      margin-left: 0%;
      margin-right: 0%;
      padding-left: 0%;
      padding-right: 0%;
    }

    .demo_image_container{
      display: none;
    }
    .demo_image_nodisplay{
      display: flex;
    }

    .left_card_arrow{
      display: none;
    }
    .bottom_left_card_arrow
    {
      display: none;
    }
    .top_right_card_arrow{
      display: none;
    }
    .bottom_right_card_arrow{
      display: none;
    }
  
 
    .top-left{
      width: 100%!important;
      margin: 0!important;
    }
    .top-right{
      width: 100%!important;
      margin: 0!important;

    }
    .bottom-left{
      width: 100%!important;
      margin: 0!important;
    }
    .bottom-right{
      width: 100%!important;
      margin: 0!important;
    }
    
  
}
  