.container {
    position: relative;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    margin-bottom: -70px;
  }
  
  .card {
    position: absolute;
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169,188,218,.65);
  }

  .card span {
    display: flex;
  }

  .card p{
    font-weight: 400;
  }
 .demo_heading_style {
    display: flex;
    align-items: center;
    padding: 0 0 10px;
    margin: 0;
    list-style-position: outside;
}
.demo_heading_style svg{
    fill: none;
    width: 40px;
    height: 40px;
}
.demo_heading_style div {
    padding-left: 8px;
    font-size: 20px;
    font-weight: 600;
}
.demo_para_style {
    padding-bottom: 5px;
    padding-left: 8px;
    margin: 0;
}
.demo_heading_style {
    display: flex;
    align-items: center;
    padding: 0 0 10px;
    margin: 0;
    list-style-position: outside;
}
 
  
  .top-left {
    top: 80px;
    left: 0px;
  }
  
  .top-right {
    top: 80px;
    right: 0px;
  }
  
  .bottom-left {
    bottom: 140px;
    left: 0px;
  }
  
  .bottom-right {
    bottom: 140px;
    right: 0px;
  }
  
  .centered-image {
    width: 560px;
    height: 320px;
  }
  @media (max-width: 768px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;

    }
    .container{
      flex-direction: column-reverse;
      height: 180vh;

    }
    .centered-image{
      width: 350px;
      height: 250px;
    }
    .card{
      position: relative;
  
    }
    .top-left{
      top: 0px;
      left: auto;

    }
    
    .top-right{
      top: auto;
      right: auto;
    }
    .bottom-left{
      left: auto;
      bottom: auto;

    }
    .bottom-right{
      right: auto;
      bottom: auto;

    }
    
    
  
}
  