.getstart_outer_box{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.getstart_main_box{
   
    display: flex;
 
    flex-direction: row;
}
.getstart_left_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}
.getstart_left_box h2{
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
}

.get_start_gif_box{
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
}

.getstart_link_box{
    display: inline-block;
    max-width: 200px;
    height: 40px;
    padding: 8px 42px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: red;
    border-radius: 8px;

}
.getstart_link_box:hover{
    text-decoration:none;
}
.getstart_image{
    animation: moveUpDown 2s ease-in-out infinite alternate;
}
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@media (max-width: 768px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .getstart_main_box{
        flex-direction: column-reverse;
    }
    .getstart_left_box
    {
        padding-left: 20px;
        margin-right: 0px;
    }
    .getstart_image{
        width: 90%;
    }
    .getstart_left_box h2{
        font-size: 24px;
    }
    .getstart_link_box{
        width: 100%;
    }

  }